@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    @apply min-h-screen selection:bg-yellow-500/30 selection:text-yellow-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}